@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --aboutUs-gradient: #f1dccf;
  background: #f1dccf;
  background: linear-gradient(
    181deg,
    rgba(241, 220, 207, 1) 0%,
    rgba(243, 235, 224, 0) 100%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .font-NotoSansGeorgian {
    font-family: 'LondrinaOutline', sans-serif;
  }

  .custom-scrollbar {
    @apply overflow-y-auto;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 7px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #00000030;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #2563eb;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-button:vertical:start:decrement {
    background: url('/assets/images/svg/triangle-up.svg') center center
      no-repeat;
    background-size: contain;
    background-color: #121318;
  }

  .custom-scrollbar::-webkit-scrollbar-button:vertical:end:increment {
    background: url('/assets/images/svg/triangle-down.svg') center center
      no-repeat;
    background-size: contain;
    background-color: #121318;
  }
}
